.migrationWarning {
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    padding: 10px;
    border-color: #a94442;
    color: #333333;
    font-family: sans-serif;
    margin-bottom: 10px;
}

.migrationWarning b {
    color: #a94442 !important;
}

.websiteCallForAction {
	margin-top: 10px !important;
}
