body {
    padding: 20px;
}

.jumbotron h1 {
    font-weight: bold;
}

#tryShortcut {
    padding: 3px 8px;
    border-radius: 3px;
}

#icon128 {
    margin: 10px 10px 0px 0px;
}

#mercuryHelp .close {
    color: #fff;
}

#postlightLogo {
    position: absolute;
    width: 46px;
    height: 35px;
    background: url('../images/postlight-labs-logo.svg') no-repeat 50%;
    background-size: contain;
}

#mercuryHelpTitle {
    padding-left: 50px;
}
